@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <title>Purchase Pool</title>
    @Scripts.Render("~/scripts/lib/angular")
    @Scripts.Render("~/scripts/lib/ui-router")
    @Scripts.Render("~/scripts/app")
    @Styles.Render("~/css/lib/bootstrap")
</head>
<body>
    @RenderBody()
</body>
</html>
